<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
            <h1>Header</h1>
        </header>

        <nav>
            <h1>Menu</h1>
        </nav>

        <div class="flex">
            <div class="left-aside">
                <aside class="aside1">
                    <h1>Aside 1</h1>
                </aside>
                <aside class="aside2">
                    <h1>Aside 2</h1>
                </aside>
            </div>

            <main class="main">
                <h1>Main content</h1>
                <section>
                    <h1>Section 1</h1>
                </section>
                <section>
                    <h1>Section 2</h1>
                </section>
            </main>

            <div class="right-aside">
                <aside class="aside3">
                    <h1>Aside 3</h1>
                </aside>
            </div>
        </div>

        <footer>
            <h1>Footer</h1>
        </footer>
    </body>
</html>