.question {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}


.food {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.item {
    /* align content horizontal/vertical */
    display: flex;
    justify-content: center;
    align-items:flex-start;
    position: relative;
    /* width and margin set */
    width: calc(100% - 62px);
    height: 180px;
    margin: 15px;
    /* margin-left: 30px 50px 20px 10px; top right bottom left */
    padding: 15px;
    padding-top: 30px;
    border: 1px solid $color-primary;
    border-radius: 25px;

    span {
        position: absolute;
        bottom: 25px;
        color: $text-color;
        font-family: Arial, Helvetica, sans-serif;
    }

}

.foot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
}



/* Navigation bar style end */
/* ----- BREAKPOINTS ----- */
/* TABLET */
@media only screen and (min-width: 427px) {
    .item {
        width: calc(50% - 62px);
    }
}

/* DESKTOP */
@media only screen and (min-width: 800px) {
    .item {
        width: calc(25% - 62px);
    }
}


/* DESKTOP Wide */
@media only screen and (min-width: 1000px) {
    .item {
        width: calc(20% - 62px);
    }
}